# Node.js
node_modules/
client/node_modules/
# Build files
build/
client/build/
dist/

# Logs
*.log

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
